tests/e2e/mvn-build-lib/src/main/resources/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="empns"
            elementFormDefault="qualified">


    <xsd:complexType name="EmpRequest">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tags" >
                <xsd:simpleType>
                    <xsd:list itemType="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


</xsd:schema>